.frame {
  position: fixed;
  top: $containerPadding;
  left: $containerPadding;
  right: $containerPadding;
  bottom: $containerPadding;
  z-index: 100;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    z-index: 99;
    top: -$containerPadding;
    left: -$containerPadding;
    right: -$containerPadding;
    bottom: -$containerPadding;
    border: $containerPadding solid white;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: $borderWidth solid $blk;
  }

  &__navbar {
    pointer-events: initial;
    position: absolute;
    top: $borderWidth;
    left: $borderWidth;
    right: $borderWidth;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: white;
  }

  &__content {
    padding: $containerPadding + $borderWidth + 48px $containerPadding + $borderWidth $containerPadding + $borderWidth;
  }
}