.frame {
  position: relative;
  z-index: 100;
  pointer-events: none;

  &:before {
    content: '';
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: $containerPadding solid white;
    border-bottom: none;
  }

  &:after {
    content: '';
    position: fixed;
    z-index: 100;
    top: $containerPadding;
    left: $containerPadding;
    right: $containerPadding;
    bottom: $containerPadding;
    border: $borderWidth solid $blk;
    border-bottom: none;
  }

  &__navbar {
    pointer-events: initial;
    position: absolute;
    top: $borderWidth;
    left: $borderWidth;
    right: $borderWidth;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: white;
  }

  &__waveform{
    position: fixed;
    z-index: 101;
    bottom: -$containerPadding;
    left: $containerPadding;
    right: $containerPadding;
  }

  &__content {
    padding: $containerPadding + $borderWidth + 48px $containerPadding + $borderWidth $containerPadding + $borderWidth;
    pointer-events: initial;
    z-index: 98;
    position: relative;
  }
}