.navbar {
  // width: 80%;
  // max-width: 1188px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 1.5em 32px;

  a {
    color: $blue;
    display: block;
    margin: 0;

    &:before {
      content: none !important;
    }

    &:after, &:first-child:before {
      margin: 0 1.2em;
      content: ' / ' !important;
      color: black !important;
      display: block;
    }

    @include respond-to('large') {
      display: inline-block;
      color: black;

      &:after, &:first-child:before {
        display: inline;
      }

    }


    &:hover {
      color: $blue;
    }
  }


  &__links--no-mobile {

    a:before, a:after {
      display: inline !important;
    }

    .hidden-mobile {
      display: none;

      @include respond-to('large') {
        display: inline-block;
      }
    }
  }

}