.navbar {
  // width: 80%;
  // max-width: 1188px;
  margin: auto;
  font-size: 1.2rem;
  padding: 0 1.5em;

  a {
    color: black;
    margin-right: 1.2em;

    &:hover {
      color: $blue;
    }
  }

  &__links {
    display: none;

    @include respond-to('medium') {
      display: inline-block;
    }
  }
}