.project-feature {
  position: relative;
  width: 100%;
  // margin-bottom: -16%;

  &:after {
    // padding-top: 63.75%;
    display: block;
    content: '';
  }

  .camera-frame__statue img {
    width: auto;
    max-height: 100%;
  }

  .camera-frame__corner .camera-frame__corner__content {
    white-space: nowrap;
    color: black;
    font-size: 1.2rem;
  }

  .camera-frame-wrapper {

    @include respond-to('large') {
      &:after {
        padding-top: 56.25%;
      }
    }
  }
}