@import './home/partners.scss';
@import './home/team.scss';

.home {
  padding-top: 32px;

  @include respond-to('large') {
    height: 100%;
    padding-top: 0;
  }

  &__nav {
    width: 80%;
    max-width: 1188px;
    margin: 32px auto;
  }

  &__section {
    width: 80%;
    max-width: 1188px;
    margin: 0 auto 32px;

    &__title {
      max-width: $maxWidth;
      margin: 0 auto;
      font-size: 1.5rem;
      text-align: left;

      @include respond-to('medium') {
        font-size: 2.5rem;
      }
    }

    &__project {
      border-bottom: 1px solid black;
    }
  }
}