@import './schedule/schedule-container.scss';
@import './schedule/project.scss';

.schedule {
  padding: $containerPadding + $borderWidth + 48px $containerPadding + $borderWidth $containerPadding + $borderWidth;

  &__section {
    width: 80%;
    max-width: 1188px;
    margin: 0 auto 32px;
    overflow-x: hidden;

    &__title {
      font-size: 1.5rem;

      @include respond-to('medium') {
        font-size: 2.5rem;
      }
    }

    &__project {
      border-bottom: 1px solid black;
    }
  }

}