.above-fold {
  max-width: $maxWidth;
  margin: 6rem auto 0;

  &__header {
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 0.048em;
  }

  &__date {
    font-size: 2.8rem;
    margin: 2em 0;

    &__row {
      display: flex;
      justify-content: space-between;

      .line {
        flex-grow: 1;
        position: relative;
        margin: 0 0.5em;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0.5em;
          background-color: $blk;
          height: 4px;
        }
      }

      .raised {
        position: relative;
        top: -1.5em;
        background-color: white;
        padding: 0 0.5em;

        > span {
          font-size: 2.1rem;
        }
      }
    }
  }

  &__footer {
    font-size: 1rem;
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.048em;
  }
}