.applications {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;

  &__pair {
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__box {
    border: $borderWidth solid $blk;
    flex-basis: 15rem;
    flex-shrink: 1;
    margin: $containerPadding;
    padding: $containerPadding * 2;
    padding-bottom: $containerPadding * 2 + 20px;
    position: relative;

    h3 {
      font-size: 2rem;
      margin: 0 0 $containerPadding;
    }

    p {
      font-family: 'Merriweather', serif;
      margin: 0;
    }

    &__link {
      position: absolute;
      right: $containerPadding;
      bottom: $containerPadding;
      line-height: 20px;
    }
  }
}