.introduction {

  p {
    font-size: 1em;
    line-height: 1.75em;
    text-align: center;

    @include respond-to('medium') {
      text-align: justify;
    }
  }

  .gallery-boxes {
    p {
      display: inline-block;
    }
  }
}