@import 'variables.scss';
@import 'mixins.scss';
@import 'nav.scss';
@import 'modal.scss';
@import 'applications.scss';
@import 'above-fold.scss';
@import 'introduction.scss';
@import 'opencall.scss';

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $font;
  font-weight: 500;
  letter-spacing: 0.048em;
}

a {
  color: $blue;
  text-decoration: none;

  &.digital {
    color: $red;
    border-color: $red;
  }

  &:active {
    color: $red;
  }

  &:before {
    content: '/\00a0';
  }

  &:after {
    content: '\00a0/';
  }

  &.no-slash {
    &:before, &:after {
      content: none;
    }
  }
}
.digital {
  color: $red;
}
.physical {
  color: $blue;
}
.title {
  display: inline-block;
  border: $borderWidth / 2 solid $blk;
  padding: $borderWidth $containerPadding;
  vertical-align: text-bottom;
}
.n9to5 {
  font-size: 1.25em;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
}

.container {
  position: absolute;
  top: 3 * $containerPadding + 22.4px;
  left: 3 * $containerPadding + 22.4px;
  right: 3 * $containerPadding + 22.4px;
  bottom: 0;
  box-sizing: border-box;

  &__page {
    border: $borderWidth solid $blk;
    border-bottom: none;
    box-sizing: border-box;
    margin: 0 $containerPadding;
    padding: $containerPadding;

    h2 {
      font-size: 1rem;
    }

    &__contents {
      max-width: $maxWidth;
      margin: 0 auto;
    }
  }

  .inner-container {
    // border-left: $borderWidth solid $blk;
    border-right: $borderWidth solid $blk;
    min-height: 100%;
    margin-top: 300px;
    box-sizing: border-box;

    .apply-container {
      clear: both;
      border-left: $borderWidth solid $blk;
      margin-top: -100px;
      width: 100%;
      padding: $containerPadding * 4 0;
      box-sizing: border-box;

      h2 {
        text-align: center;
        margin: $containerPadding;
      }
    }
  }

}

p {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.about {
  font-size: 1.8em;
  max-width: 42rem;
  margin: $containerPadding auto;
}

.more {
  font-size: 1.3em;
  max-width: 42rem;
  margin: $containerPadding auto;
}

.who {
  clear: both;
  font-size: 1.3em;
  max-width: 42rem;
  margin: $sectionMargin auto;
}
.fixed-inner-top {
  display: none;
  position: fixed;
  z-index: 50;
  top: 3 * $containerPadding + 22.4px;
  left: 3 * $containerPadding + 22.4px;
  right: 3 * $containerPadding + 22.4px + $borderWidth;
  border-top: $borderWidth solid $blk;

  &.visible {
    display: block;
  }
}
.fixed-bottom {
  position: fixed;
  z-index: 100;
  bottom: -$containerPadding;
  left: $containerPadding;
  right: $containerPadding;
}
#waveform {
  width: 100%;
  height: $containerPadding * 4;

  polyline {
    stroke: black;
    stroke-width: $borderWidth;
    fill: none;
  }

  polygon {
    fill: white;
    stroke: none;
  }

}
.slant-container {
  position: relative;
  z-index: 99;
  top: -200px + $borderWidth;
  height: 200px;
  width: 100%;

  .slant {
    background: transparent;
    fill: white;
  }
}
.border {
  fill: $blk;
}

.when-box {
  // padding: 2em 4em 2em 2em;
  font-size: 1.8em;
  margin: $sectionMargin auto;
  max-width: 42rem;


  .where-details {
    color: $gray;

    > span, > a {
      margin: 0 8px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}