.blanket {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(white,0.8);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 200;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;

  &.visible {
    pointer-events: initial;
    opacity: 1;

    .modal {
      top: 0;
    }
  }
}

.modal {
  position: relative;
  top: 100%;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
  max-width: 600px;
  margin: $containerPadding auto;
  padding: $containerPadding $containerPadding * 3;
  border: $borderWidth solid $blk;
  text-align: center;
  background-color: rgba(white,0.9);

  .close-modal {
    position: absolute;
    top: $containerPadding;
    right: $containerPadding;

    &:before {
      content: '[ ';
    }

    &:after {
      content: ' ]';
    }
  }
}

.apply-modal {

  .form-section {
    margin-bottom: 16px;
    display: inline-block;

    @include respond-to('medium') {
      margin: 16px;
    }

    input {
      height: 30px;
      line-height: 30px;
    }

    textarea {
      height: 150px;
      padding: 8px;
      resize: vertical;
    }

    input, textarea {
      font-family: $font;
      font-weight: 500;
      font-size: 16px;
      border: 4px solid $blk;
      display: inline-block;
      padding: 0 8px;
      outline: none;
      width: 15em;
      max-width: 90%;


      &:focus {
        border-color: $blue;
      }
    }

    &.invalid {
      input, textarea {
        border-color: $red;
      }
    }
  }

  .submitted {
    h3 {
      font-size: 2.4rem;
    }

    .close-modal {
      position: initial;
    }
  }

}