.opencall {
  p.notes {
    font-style: italic;
    letter-spacing: justify;
  }

  &__cta {
    margin: 4rem 0;

    &__row {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;

      @include respond-to('medium') {
        font-size: 2.8rem;
      }
      

      .sm {
        font-size: 0.75em;
      }

      .md {
        font-size: 1em;
      }

      .lg {
        font-size: 1.5em;
      }
    }
  }
}