.opencall {
  p.notes {
    font-style: italic;
    letter-spacing: justify;
  }

  &__cta {
    margin: 4rem 0;

    &__row {
      display: flex;
      justify-content: space-between;

      .sm {
        font-size: 2.1rem;
      }

      .md {
        font-size: 2.8rem;
      }

      .lg {
        font-size: 4.2rem;
      }
    }
  }
}