.partners {

  .sponsors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    a {
      display: inline-block;
      max-width: 45%;
      margin: 0 0 2rem;

      &.big-sponsor {
        max-width: 100%;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .blurb {
    margin: 4rem 0;
  }

  &__cta {
    margin: 4rem 0;

    &__row {
      display: flex;
      justify-content: space-between;
      letter-spacing: 0.075em;
      align-items: flex-end;
      font-size: 1.2rem;

      @include respond-to('medium') {
        font-size: 2.8rem;
      }

      .sm {
        font-size: 0.75em;
      }

      .md {
        font-size: 1em;
      }

      .lg {
        font-size: 1.5em;
      }
    }
  }

  &__benefits {
    text-align: center;
    font-style: italic;
  }
}