<div class="container__page artists" id="artists">
  <h2><a href="#artists" class="scroll no-slash">Participating Artists</a></h2>

  <div class="container__page__contents">
    <h3 class="container__page__subheading">DRAWN / SUPERBRIGHT &amp; Art404</h3>
    <p>
      <a class="digital" target="_blank" href="http://superbright.me/">superbright.me</a> Head to head VR Drawing Tool with one node in Atlanta and the other at TV 404 in New York. Battles involving both nodes will be streamed over the course of the month, along with solo node "Pictionary" where the audience tries to guess the subject being drawn.
    </p>

    <h3 class="container__page__subheading">Brannon Dorsey / Holy Pager</h3>
    <p>
      <a class="digital" target="_blank" href="http://brannondorsey.com/">brannondorsey.com</a> Pagers are actually capable of receiving all pages that come through their network. However, only the pages directed at you are the ones you receive. Brannon hacked three pagers to display and print every page that is sent on their network. No digital component.
    </p>

    <h3 class="container__page__subheading">Kevin Siwoff / Basix Lockr</h3>
    <p>
      <a class="digital" target="_blank" href="http://kevinsiwoff.com/">kevinsiwoff.com</a> Satirical ecommerce perfomarce art / new media piece. Users order "goods" (really just paper mache-esque interpretations of what they ordered). Eventually those projects are delivered to The Cube, unboxed (which will be main livestream events), and placed on livestream pedestals.
    </p>

    <h3 class="container__page__subheading">Andrew Venell / Supercruft Induction Terminal</h3>
    <p>
      <a class="digital" target="_blank" href="http://andrewvenell.com/">andrewvenell.com</a> An interactive station in Atlanta with two streams of edited found video footage that can be combined into infinite abstract compositions by the Cube user. The user's creation will be livestreamed in real time on a microsite.
    </p>

    <h3 class="container__page__subheading">Also Featuring</h3>
    <p>
Chris Collins
** Sean Fahie
** Point in Passing
** Kyle Morais
** Johan Nordberg
** Adam Shavin
** Maggie Kane
** Very Sandwich
** SlimeNet
** WonderGoblin
** Shannon Strucci
** Andy Pruett
** Kellie Vinal
** Modugno & Mallory
** Andrew Venell
** Project Adrift
** Tim Kim
** Damjanski
** Mimi Onuha
** Lisa Parra
** Bradley Bowers
** Tony Zaret</p>

  </div>
</div>