<div class="container__page introduction" id="introduction">
  <h2><a href="#introduction" class="scroll no-slash">Introduction</a></h2>

  <div class="container__page__contents">
    <p><span class="n9to5">9to5</span> is equal parts: Artist Residency, Gallery, Classroom, & TV Network</p>
  </div>

  <div class="gallery-boxes">
    <div class="gallery-boxes__pair">
      <div class="gallery-boxes__box">
        <h3>GALLERY</h3>
        <p>/ Features and curates artworks</p>
        <p>/ Hosts discussions and lectures</p>
        <p>/ Invites the public to view the work</p>
      </div>

      <div class="gallery-boxes__box">
        <h3>RESIDENCY</h3>
        <p>/ Facilitates immersive studies</p>
        <p>/ Welcomes international talent</p>
        <p>/ Compensates featured artists</p>
      </div>
    </div>

    <div class="gallery-boxes__pair">

      <div class="gallery-boxes__box">
        <h3>CLASS-<br />ROOM</h3>
        <p>/ Allows for one-on-one interaction</p>
        <p>/ Shares expertise with viewers</p>
        <p>/ Explores new methods of teaching</p>
      </div>
      <div class="gallery-boxes__box">
        <h3>TV<br />NETWORK</h3>
        <p>/ Broadcasts 200+ hours</p>
        <p>/ Gives artists their own &lsquo;shows&rsquo;</p>
        <p>/ Entertains while educating</p>
      </div>
    </div>
  </div>

</div>