<div class="live-container">
  <div class="camera-frame-wrapper">
    <div class="camera-frame">
      <div class="camera-frame__zoom"></div>
      <div class="camera-frame__corner camera-frame__corner--tl">
        <div class="camera-frame__corner__content">
          <div class="camera-frame__corner__content__battery">
            <div class="camera-frame__corner__content__battery__bar"></div>
            <div class="camera-frame__corner__content__battery__bar"></div>
            <div class="camera-frame__corner__content__battery__bar"></div>
          </div>
        </div>
      </div>
      <div class="camera-frame__corner camera-frame__corner--tr">
        <div class="camera-frame__corner__content">
          <div class="camera-frame__corner__content__live"><span>STAND BY</span> <span class="pause-icon recording-dot--live"></span></div>
        </div>
      </div>
      <div class="camera-frame__corner camera-frame__corner--bl">
        <div class="camera-frame__corner__content">
          <div class="countdown-timer">00:00:09:25</div><div>00:9TO5:TV</div>
        </div>
      </div>
      <div class="camera-frame__corner camera-frame__corner--br">
        <div class="camera-frame__corner__content">
          <div class="camera-frame__corner__content__bars">
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar camera-frame__corner__content__bars__bar--small"></div>
            <div class="camera-frame__corner__content__bars__bar camera-frame__corner__content__bars__bar--small"></div>
          </div>
          <div class="camera-frame__corner__content__bars">
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar"></div>
            <div class="camera-frame__corner__content__bars__bar camera-frame__corner__content__bars__bar--small"></div>
            <div class="camera-frame__corner__content__bars__bar camera-frame__corner__content__bars__bar--small"></div>
            <div class="camera-frame__corner__content__bars__bar camera-frame__corner__content__bars__bar--small"></div>
          </div>
        </div>
      </div>

      <div class="camera-frame__content">
        <div class="camera-frame__statue">
          <img src="img/statue.png">
        </div>
        
        <div class="camera-frame__title-block">
          <div class="camera-frame__title">
            <div class="camera-frame__title__original">/9to5.tv/</div>
            <div class="camera-frame__title__copy camera-frame__title__copy--red">/9to5.tv/</div>
            <div class="camera-frame__title__copy camera-frame__title__copy--blue">/9to5.tv/</div>
          </div>
          <div class="camera-frame__title">
            <div class="camera-frame__title__original">/9to5.tv/</div>
            <div class="camera-frame__title__copy camera-frame__title__copy--red">/9to5.tv/</div>
            <div class="camera-frame__title__copy camera-frame__title__copy--blue">/9to5.tv/</div>
          </div>
          <div class="camera-frame__title">
            <div class="camera-frame__title__original">/9to5.tv/</div>
            <div class="camera-frame__title__copy camera-frame__title__copy--red">/9to5.tv/</div>
            <div class="camera-frame__title__copy camera-frame__title__copy--blue">/9to5.tv/</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>