<div class="blanket">
  <div class="apply-modal">
    <h3>OPEN CALL</h3>

    <a href="#" class="close-modal physical">close</a>

    <form class="open-call">
      <div class="form-section">
        <div class="label">Name</div>
        <input type="text" name="name">
      </div>
      <div class="form-section">
        <div class="label">Email</div>
        <input type="email" name="email">
      </div>
      <div class="form-section"v>
        <div class="label">City</div>
        <input type="text" name="location">
      </div>
      <div class="form-section">
        <div class="label">Project Title</div>
        <input type="text" name="title">
      </div>
      <div class="form-section">
        <div class="label">Project Description</div>
        <input type="text" name="description">
      </div>
      <div class="form-section">
        <div class="label">Technical Description</div>
        <input type="text" name="technical">
      </div>
      <div class="form-section">
        <div class="label">Interactive Description</div>
        <input type="text" name="interactive">
      </div>
      <div class="form-section">
        <div class="label">Describe your past works</div>
        <input type="text" name="past">
      </div>
    </form>

    <a href="#" class="submit-form">submit</a>
    
  </div>
</div>