<div class="container__page opencall" id="open-call">
  <h2>Open call</h2>

  <div class="container__page__contents">
    <p>If you have a potential project that utilizes livestreaming and / or digital inputs to blur the line between &lsquo;viewer&rsquo; and &lsquo;collaborator&rsquo;, we want to hear from you. From data visualization to interpretative dance, podcasts to prose, AI to the humanities, all artists and technologists with an interest in experimentation are welcome.</p>

    <p class="notes">Talent will have access to a ton of new technology courtesy of Georgia State University.</p>

    <p class="notes">For talent that needs it, travel to Atlanta will be covered by <span class="n9to5">9to5</span>, along with lodging and food.</p>

    <p class="notes">All submissions will be considered, but there are limited slots available in each category.</p>

    <div class="opencall__cta">
      <div class="opencall__cta__row">
        <span class="md">APPLY</span>
        <span class="sm">to</span>
        <span class="md">OPEN</span>
      </div>
      <div class="opencall__cta__row">
        <span class="lg">C</span>
        <span class="lg">A</span>
        <span class="lg">L</span>
        <span class="lg">L</span>
      </div>

    </div>
  </div>

  <div class="opencall__applications">
    <div class="opencall__applications__pair">
      <div class="opencall__applications__box">
        <h3>INSIDE/<br />PROJECT</h3>
        <p>A multi-day new media project hosted in Atlanta. Artist(s) will work live on stream. Must collaborate with the public.</p>
        <a class="opencall__applications__box__link digital apply" data-type="inside-project" href="#">apply</a>
      </div>

      <div class="opencall__applications__box">
        <h3>OUTSIDE/<br />PROJECT</h3>
        <p>A multi-day new media project hosted abroad. Artist(s) will broadcast from location and/or present project online through our platform.</p>
        <a class="opencall__applications__box__link digital apply" data-type="outside-project" href="#">apply</a>
      </div>
    </div>

    <div class="opencall__applications__pair">

      <div class="opencall__applications__box">
        <h3>INSIDE/<br />GALLERY</h3>
        <p>A previously completed or in-progress artwork with a digital component to show at our real world gallery.</p>
        <a class="opencall__applications__box__link digital apply" data-type="inside-gallery" href="#">apply</a>
      </div>
      <div class="opencall__applications__box">
        <h3>OUTSIDE/<br />GALLERY</h3>
        <p>A previously completed or in-progress artwork, primarily digital, to show in our virtual gallery.</p>
        <a class="opencall__applications__box__link digital apply" data-type="outside-gallery" href="#">apply</a>
      </div>
    </div>
  </div>
</div>