<div class="container__page partners" id="partners">
  <h2><a href="#partners" class="scroll no-slash">Partners</a></h2>

  <div class="container__page__contents">
    <h3 class="container__page__subheading">/ Presented by</h3>
    <div class="sponsors">
      <a href="http://www.fieldexperimentatl.com/" class="no-slash big-sponsor" target="_blank">
        <img height="auto" width="450" src="img/fexp.png">
      </a>
    </div>

    <h3 class="container__page__subheading">/ Sponsors</h3>
    <div class="sponsors">
      <a href="https://mailchimp.com" class="no-slash" target="_blank"><img height="auto" width="230" src="img/mailchimp.png"></a>
      <a href="http://www.gsu.edu/" class="no-slash" target="_blank"><img height="auto" width="160" src="img/gsu.png"></a>
      <a href="http://www.chemistryagency.com/" class="no-slash" target="_blank"><img height="auto" width="220" src="img/chemistry.png"></a>
      <a href="https://www.wafflehouse.com/" class="no-slash" target="_blank"><img height="auto" width="200" src="img/waho.png"></a>
    </div>

    <h3 class="container__page__subheading">/ Partners</h3>
    <p>
      <a href="http://info.maestro.io/" class="digital" target="_blank">Maestro.io</a> Use Maestro to create engaging video experiences.<br />
      <a href="http://masscollective.org/" class="digital" target="_blank">MASS Collective</a> Supporting Musical, Artistic, Scientific, and Social pursuits<br />
      <a href="http://www.mammalgallery.com/" class="digital" target="_blank">MAMMAL Gallery</a> Atlanta&rsquo;s favorite ever-evolving carte blanche<br />
    </p>

    <p class="blurb">9to5 relies on supporters like you to keep the experiment going. We value all of our supporters, big or small, and would love to talk with you about how you can be a part of our platform. All donations are tax deductible, fund independent artists and technologists, and help facilitate groundbreaking innovation across all interests and industries. Reach out. We&rsquo;re ready to talk to you.</p>

    <div class="partners__cta">
      <div class="partners__cta__row">
        <span class="md">BECOME</span>
        <span class="md">a</span>
        <span class="md">PARTNER</span>
      </div>
      <a href="mailto:info@9to5.tv" class="partners__cta__row no-slash">
        <span class="lg">/</span>
        <span class="lg">T</span>
        <span class="lg">O</span>
        <span class="lg">D</span>
        <span class="lg">A</span>
        <span class="lg">Y</span>
        <span class="lg">/</span>
      </a>
    </div>
    <p class="partners__benefits">Ad Placement Across Platforms</p>
    <p class="partners__benefits">501(c)(3) Deductible Donation</p>
    <p class="partners__benefits">Position with Progress</p>
  </div>
</div>