<div class="container__page team last" id="team">
  <h2><a href="#team" class="scroll no-slash">Team</a></h2>

  <div class="container__page__contents">
    <p>The <span class="n9to5">9to5</span> team is incredibly excited to share our second iteration with you. The concept has evolved significantly from our first weeklong exhibition in early 2016, which, like most early projects, relied heavily on those friends willing to pick up a broom or a camera or a paintbrush. Today, with the help of FIELD EXPERIMENT and our sponsors, we have built a fully realized platform for artists and technologists who, just like us, want to make projects that invent new ways of making, collaborating, and teaching. We&rsquo;re excited to lend the hands we can... just as our friends did for us. See you in September.</p>

    <h3 class="container__page__subheading">/ Pablo Gnecco</h3>
    <p>
      <a class="digital" target="_blank" href="http://studiostudio.nyc/">studiostudio.nyc</a> Experiential Artist and Motion Designer living and working in NYC, member of The New Museum&rsquo;s Art and Tech Incubator, NEWINC. Founder of Studio Studio, an immersive installation company exploring the intersection of participation, performance, and new technology to create experiences and interactive works of art.
    </p>

    <h3 class="container__page__subheading">/ Travis Broyles</h3>
    <p>
      <a class="digital" target="_blank" href="https://verysandwich.com/">verysandwich.com</a> A copywriter and digital strategist for eight years, Broyles believes that the best communication, whether it&rsquo;s for collaborators, communities, or clients, starts with common sense ethics and a southern fried desire to truly help one another. Once described as a &ldquo;headline machine&rdquo;, he&rsquo;s praying for the day they start giving Oscars for livestreams. Or at least really good sandwiches.
    </p>

    <h3 class="container__page__subheading">/ Derek Bruno</h3>
    <p>
      <a class="digital" target="_blank" href="http://christopherderekbruno.com/">derekbruno.com</a> After an education in industrial design, Bruno moved about the United States cultivating his approach to the design + fabrication of furniture and sculpture based imagery. Currently residing in Seattle, his recent work intends to explore the cognitive visual experience.
    </p>

    <h3 class="container__page__subheading">/ Eric Rabinowitz</h3>
    <p>
      <a class="digital" target="_blank" href="http://ericrabinowitz.com/">ericrabinowitz.com</a> Web developer and creative coder based in Atlanta, who believes we must all actively nudge the Internet to be more open and share its feelings. Currently working on a digital platform to help artists manage their networks and get referred to collaboration or hiring opportunities.
    </p>

    <div class="opencall__cta">
      <div class="opencall__cta__row">
        <span class="sm">F</span>
        <span class="sm">O</span>
        <span class="sm">L</span>
        <span class="sm">L</span>
        <span class="sm">O</span>
        <span class="sm">W</span>
        <span class="sm">&nbsp;</span>
        <span class="sm">U</span>
        <span class="sm">S</span>
      </div>
      <a href="https://www.facebook.com/9to5tv" target="_blank" class="opencall__cta__row no-slash">
        <span class="md">/</span>
        <span class="md">F</span>
        <span class="md">A</span>
        <span class="md">C</span>
        <span class="md">E</span>
        <span class="md">B</span>
        <span class="md">O</span>
        <span class="md">O</span>
        <span class="md">K</span>
        <span class="md">/</span>
      </a>
      <a href="https://www.instagram.com/9to5.tv/" target="_blank" class="opencall__cta__row no-slash">
        <span class="md">/</span>
        <span class="md">I</span>
        <span class="md">N</span>
        <span class="md">S</span>
        <span class="md">T</span>
        <span class="md">A</span>
        <span class="md">G</span>
        <span class="md">R</span>
        <span class="md">A</span>
        <span class="md">M</span>
        <span class="md">/</span>
      </a>
      <a href="https://twitter.com/9to5_tv" target="_blank" class="opencall__cta__row no-slash">
        <span class="md">/</span>
        <span class="md">T</span>
        <span class="md">W</span>
        <span class="md">I</span>
        <span class="md">T</span>
        <span class="md">T</span>
        <span class="md">E</span>
        <span class="md">R</span>
        <span class="md">/</span>
      </a>
    </div>

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="//9to5.us16.list-manage.com/subscribe/post?u=2b84719ded272f32daf9047bc&amp;id=9c3764ff66" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Subscribe to 9to5: Works in Progress</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2b84719ded272f32daf9047bc_9c3764ff66" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
  </div>

</div>