.schedule__project {
  margin: 1.5rem 0;

  &__title {
    font-size: 1.6rem;
    margin: 0;
  }

  &__time {
    font-size: 1.2rem;
  }

  &__artist {
    font-size: 1.2rem;
    margin: 0.5em 0 0;

    a {
      font-size: 1rem;
    }
  }

  &__description {
    margin-top: 0.5em;
  }
}